@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --gradient: linear-gradient(to top left,#22E1FF,#1D8FE1,#625EB1);

    --background: 200 65% 4.56%;
    --foreground: 200 10% 97.85%;
  
    --muted: 200 59% 26.79%;
    --muted-foreground: 200 10% 55.7%;
  
    --popover: 200 90% 10.26%;
    --popover-foreground: 200 10% 97.85%;
  
    --card: 200 90% 10.26%;
    --card-foreground: 200 10% 97.85%;
  
    --border: 200 59% 26.79%;
    --input: 200 59% 26.79%;
  
    --primary: 200 100% 57%;
    --primary-foreground: 200 10% 5.699999999999999%;
  
    --secondary: 200 59% 26.79%;
    --secondary-foreground: 200 10% 97.85%;
  
    --accent: 200 59% 26.79%;
    --accent-foreground: 200 10% 97.85%;
  
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 200 10% 97.85%;
  
    --ring: 200 100% 57%;

    --radius: 0.5rem;
  }

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.dashboard {
  padding: 24px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 'allocation history history' 'donate history history';
  gap: 24px;

}

.allocation {
  grid-area: allocation;
}

.donate {
  grid-area: donate;
}

.history {
  grid-area: history;
}